@model List<TT.Mvc.Models.BrandNode>
@{
    ViewBag.Title = "Brand";
}

<h2>@ViewBag.Title</h2>

<ul style="list-style: none;padding: 0;">
    @foreach (var node in Model)
    {
        @RenderNode(node)
    }
</ul>

@helper RenderNode(TT.Mvc.Models.BrandNode node)
{
    <li style="border: 1px solid black;">
        @if (node.ProductValue != "" || node.ProductCode != "" || node.ProductName != "")
        {
            <strong>id:</strong> @node.RecursionId<br />
            <strong>code:</strong> @node.ProductCode<br />
            <strong>name:</strong> @node.ProductName<br />
            <strong>@node.Name:</strong>@Html.Raw(node.ProductValue)<br />
        }

        @if (node.Children.Count > 0)
        {
            <ul style="list-style: none;padding: 0;">
                @foreach (var child in node.Children)
                {
                    @RenderNode(child)
                }
            </ul>
        }
    </li>
}
<p>Use this area to provide brand information.</p>
