@model List<TT.Mvc.Models.BrandNode>
@{
    ViewBag.Title = "Brand";
}

<h2>@ViewBag.Title</h2>

<ul style="list-style: none;padding: 0;">
    @foreach (var node in Model)
    {
        @RenderNode(node)
    }
</ul>

@helper RenderNode(TT.Mvc.Models.BrandNode node)
{
    <li style="border: 1px solid black;">
        <strong>brand:</strong> @node.BrandName<br />
        <strong>code:</strong> @node.ProductCode<br />
        <strong>id:</strong> @node.BrandId<br />
        <strong>parent:</strong>@node.Parent<br />
        <strong>@node.ProductName:</strong>@Html.Raw(node.ProductValue)<br />

        @if (node.Children.Count > 0)
        {
            <ul style="list-style: none;padding: 0;">
                @foreach (var child in node.Children)
                {
                    @RenderNode(child)
                }
            </ul>
        }
    </li>
}
<p>Use this area to provide brand information.</p>
